/* This file is for your main application css. */

@tailwind base;

@tailwind components;

@tailwind utilities;


 .arrow{
      stroke:rgb(0,0,0);
      stroke-width:2;
      marker-end:url(#markerArrow)
    }

